body{
    text-align:center;
}
label{
    display:block;
    padding:1rem;
}
#result-btn{
    position: absolute;
	top: 40%;
	left: 50%;
    transform: translate(-50%, -50%);
    background-color: coral;
}
#outputbox{
    padding-top: 1rem;
}
